{% comment %} New snippet - 21 May '24 {% endcomment %}
<div class="footer__block--mobile">
    <div class="footer__title">
    {{ 'actions.follow_us' | t }}
    </div>
    {% render 'social-icons',
    additional_classes: 'footer__social',
    social_instagram_link: social_instagram_link,
    social_facebook_link: social_facebook_link,
    social_twitter_link: social_twitter_link,
    social_youtube_link: social_youtube_link,
    social_pinterest_link: social_pinterest_link,
    social_linkedin_link: social_linkedin_link,
    social_snapchat_link: social_snapchat_link,
    social_vimeo_link: social_vimeo_link,
    social_tiktok_link: social_tiktok_link,
    social_tumblr_link: social_tumblr_link
    %}
</div>