{% comment %}
  /**
   * @param {string} context - class name of the lightbox container
   * @param {string} classes - string of classes to add to the lightbox image container
   * @param {object} img - image to display in the lightbox
   */

  Lightbox snippet
  - element needs to have the .lightbox-trigger class and be wrapped in <image-lightbox><image-lightbox>
  - example: render 'lightbox', context: 'gallery'
{% endcomment %}

<div class="lightbox lightbox--{{ context }}">
  <div class="lightbox-outer-container">
    <div class="lightbox-content {{ classes }}">
      {%- render 'image-element'
        img: img,
      -%}
      <button class="lightbox-close-btn">
        {% render 'icon', name: 'close' %}
      </button>
    </div>
  </div>
</div>

<script type="module">
  import 'components/lightbox';
</script>
