{% comment %}
  /**
   * @param {object} section - section object
   * @param {object} collection - collection object
   * @param {string} color_scheme - color scheme
   */
{% endcomment %}

{% if collection %}
  <div class="return-section color-scheme-{{ color_scheme }}">
    {%- if color_scheme != 'none' -%}
      {%- render 'color-scheme-texture', color_scheme: color_scheme -%}
    {%- endif -%}
    <div class="page-width text-center">
      <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn return-link">
        {% render 'icon', name: 'arrow-left' %} {{ 'actions.back_to' | t: collection: collection.title }}
      </a>
    </div>
  </div>
{% endif %}
