{% comment %}
  /**
   * @param {object} section - section object
   * @param {boolean} divider - show divider
   * @param {string} title - section title,
   * @param {string} video_url - video url
    * @param {string} color_button - button color
   */
{% endcomment %}

{%- if divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if title != blank -%}
    <div class="section-header">
      <h2>{{ title }}</h2>
    </div>
  {%- endif -%}
  <div class="video-wrapper">
  {%- if video_url == blank -%}
    <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" title="YouTube iframe" width="850" height="480" frameborder="0" allowfullscreen></iframe>
  {%- else -%}
    {%- if video_url.type == "youtube" -%}
      <iframe src="//www.youtube.com/embed/{{ video_url.id }}?rel=0&showinfo=0&vq=720" title="YouTube iframe" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {%- endif -%}
    {%- if video_url.type == "vimeo" -%}
      <iframe src="//player.vimeo.com/video/{{ video_url.id }}?color={{ color_button | remove: "#" }}&byline=0&portrait=0&badge=0" title="Vimeo iframe" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {%- endif -%}
  {%- endif -%}
  </div>
</div>

{%- if divider -%}</div>{%- endif -%}
